.todo{
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background-color: white;
    font-size: 2rem;
    color: black;
    border-radius: 5px;
}

.todo__list-btn{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.check{
    background-color: #CDF2CA;
    
}

.delete{
    background-color: #FF7878;
}



