.todo{
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background-color: red;
    font-size: 2rem;
}

.todo__list-btn{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}



